<p>static-page works!</p>
<lib-ngx-common-ui-lib></lib-ngx-common-ui-lib>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis modi ex sapiente numquam, facilis voluptatem, in quo accusamus ab repellat accusantium porro! At necessitatibus, obcaecati eius quo voluptatibus molestiae?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis modi ex sapiente numquam, facilis voluptatem, in quo accusamus ab repellat accusantium porro! At necessitatibus, obcaecati eius quo voluptatibus molestiae?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis modi ex sapiente numquam, facilis voluptatem, in quo accusamus ab repellat accusantium porro! At necessitatibus, obcaecati eius quo voluptatibus molestiae?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis modi ex sapiente numquam, facilis voluptatem, in quo accusamus ab repellat accusantium porro! At necessitatibus, obcaecati eius quo voluptatibus molestiae?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis modi ex sapiente numquam, facilis voluptatem, in quo accusamus ab repellat accusantium porro! At necessitatibus, obcaecati eius quo voluptatibus molestiae?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis modi ex sapiente numquam, facilis voluptatem, in quo accusamus ab repellat accusantium porro! At necessitatibus, obcaecati eius quo voluptatibus molestiae?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis modi ex sapiente numquam, facilis voluptatem, in quo accusamus ab repellat accusantium porro! At necessitatibus, obcaecati eius quo voluptatibus molestiae?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis modi ex sapiente numquam, facilis voluptatem, in quo accusamus ab repellat accusantium porro! At necessitatibus, obcaecati eius quo voluptatibus molestiae?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit officiis modi ex sapiente numquam, facilis voluptatem, in quo accusamus ab repellat accusantium porro! At necessitatibus, obcaecati eius quo voluptatibus molestiae?
</p>
